﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.AutorData

@{
    ViewBag.Title = "Lista autora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2>Prikaz liste autora</h2>
    <a asp-area="" asp-action="GoToCreateAutor" asp-controller="AutorData" style="margin-bottom:50px; max-width:200px;">
        <button>Dodaj autora</button>
    </a>

    <table border="1" align="left" style="max-width:1600px; text-align:center;">
        <thead>
            <tr>
                <td width="200">ID_Autora</td>
                <td width="200">Ime_Prezime</td>
                <td width="200">Godina_rođena</td>
                <td width="200">Godina_smrti</td>
                <td width="300">Zemlja</td>
                <td width="200">Broj_knjiga</td>
                <td width="200">Prosecna_ocena</td>
                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Autori)
            {
                <tr>
                    <td>@v.ID_Autora</td>
                    <td>@v.Ime_Prezime</td>
                    <td>@v.Godina_rođena</td>
                    <td>@v.Godina_smrti</td>
                    <td>@v.Zemlja</td>
                    <td>@v.Broj_knjiga</td>
                    <td>@v.Prosecna_ocena</td>
                    <td>
                        <form action="DeleteAutor" method="post">
                            <input type="text" name="id_autora" placeholder="id_autora" value="@v.ID_Autora" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Obriši autora" />
                        </form>
                        <form action="UpdateAutor" method="post">
                            <input type="text" name="id_autora" placeholder="id_autora" value="@v.ID_Autora" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Izmeni autora" />
                        </form>
                        <form action="DodajKnjiguAutoru" method="post">
                            <input type="text" name="id_autora" placeholder="id_autora" value="@v.ID_Autora" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Dodaj knjigu autoru" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" align="center"><b>Biografija</b></td>
                </tr>
                <tr style="text-align:left">
                    <td colspan="8">@v.Biografija</td>
                </tr>
            }
        </tbody>
    </table>
</div>