﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model int

@{
    ViewBag.Title = "Kreiraj autora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2 style="margin-bottom:50px;">Dodajte knjigu autoru</h2>
    <form asp-action="SaveKnjigaAutora" asp-controller="KnjigeAutoraData" method="post">
        <label style="margin-right:10px;">ID Knjige</label>
        <input type="text" name="id_autora" placeholder="id_autora" value="@Model" hidden="hidden" />
        <input type="text" name="id_knjige" placeholder="id_knjige" />
        <input type="submit" value="Dodaj knjigu autoru" style="margin-left:25px;" />
    </form>
</div>