﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cassandra_GreatReads.Models.Autor

@{
    ViewBag.Title = "Kreiraj autora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>
        <form action="SaveAutor" method="post">
            <label>ID Autora</label>
            <input type="text" name="id_autora" placeholder="id_autora" />
            <br />
            <label>Ime i prezime</label>
            <input type="text" name="ime_prezime" placeholder="ime_prezime" />
            <br />
            <label>Datum rođenja</label>
            <input type="date" name="godina_rođenja" placeholder="godina_rođenja" />
            <br />
            <label>Datum smrti</label>
            <input type="date" name="godina_smrti" placeholder="godina_smrti" />
            <br />
            <label>Zemlja</label>
            <input type="text" name="zemlja" placeholder="zemlja" />
            <br />
            <label>Biografija</label>
            <input type="text" name="biografija" placeholder="biografija" />
            <br />
            <input type="submit" value="Sačuvaj Autora" />
        </form>
    </div>
}
else
{
    <div>
        <form action="SaveAutor" method="post">
            <label hidden="hidden">ID Autora</label>
            <input hidden="hidden" type="text" name="id_autora" placeholder="id_autora" value="@Model.ID_Autora"/>
            <br />
            <label>Ime i prezime</label>
            <input type="text" name="ime_prezime" placeholder="ime_prezime" value="@Model.Ime_Prezime"/>
            <br />
            <label>Datum rođenja</label>
            <input type="date" name="godina_rođenja" placeholder="godina_rođenja" value="@Model.Godina_rođena.ToString()"/>
            <br />
            <label>Datum smrti</label>
            <input type="date" name="godina_smrti" placeholder="godina_smrti" value="@Model.Godina_smrti.ToString()"/>
            <br />
            <label>Zemlja</label>
            <input type="text" name="zemlja" placeholder="zemlja" value="@Model.Zemlja"/>
            <br />
            <label>Broj knjiga</label>
            <input type="text" name="broj_knjiga" placeholder="broj_knjiga" value="@Model.Broj_knjiga"/>
            <br />
            <label>Prosečna ocena</label>
            <input type="text" name="prosecna_ocena" placeholder="prosecna_ocena" value="@Model.Prosecna_ocena"/>
            <br />
            <label>Biografija</label>
            <input type="text" name="biografija" placeholder="biografija" value="@Model.Biografija"/>
            <br />
            <input type="submit" value="Sačuvaj Autora" />
        </form>
    </div>
}
