﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.PolicaData

@{
    ViewBag.Title = "DisplayPolicaData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2>Prikaz liste polica</h2>
    <a asp-area="" asp-action="GoToCreatePolica" asp-controller="Polica" style="margin-bottom:50px; max-width:200px;">
        <button>Dodaj policu</button>
    </a>

    <table border="1" align="left" style="max-width:800px">
        <thead>
            <tr>
                <td width="200">ID_Police</td>
                <td width="200">Naziv</td>
                <td width="200">Broj_knjiga</td>
                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Police)
            {
                <tr>
                    <td>@v.ID_Police</td>
                    <td>@v.Naziv</td>
                    <td>@v.Broj_knjiga</td>
                    <td class="flex-row" style="display:flex">
                        <form action="DeletePolica" method="post" style="display:flex">
                            <input type="text" name="id_police" placeholder="id_police" value="@v.ID_Police" hidden="hidden" />
                            <input type="submit" value="Obriši policu" />
                        </form>
                        <form action="UpdatePolica" method="post" style="display:flex">
                            <input type="text" name="id_police" placeholder="id_police" value="@v.ID_Police" hidden="hidden" />
                            <input type="submit" value="Izmeni policu" />
                        </form>
                        <form action="DisplayPolica" method="get" style="display:flex">
                            <input type="text" name="id_police" placeholder="id_police" value="@v.ID_Police" hidden="hidden" />
                            <input type="submit" value="Prikazi policu" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
