﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.KnjigeNaPoliciData

@{
    ViewBag.Title = "DisplayPolicaData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2>Displaying the Polica</h2>

    @foreach (var p in Model.police)
    {
        <div>
            <label><b>ID Police:</b>@p.polica.ID_Police</label>
            <br />
            <label><b>Naziv police:</b> @p.polica.Naziv</label>
            <br />
            <label><b>Broj knjiga:</b> @p.polica.Broj_knjiga</label>
            <br />
        </div>
        <div>
            <table border="1" align="left" style="max-width:2200px; text-align:center;">
                <thead>
                    <tr>
                        <td width="200">ID_Knjige</td>
                        <td width="200">Naslov</td>
                        <td width="200">Naslov_originala</td>
                        <td width="200">Autor</td>
                        <td width="300">Godina_izdavanja</td>
                        <td width="200">Format_knjige</td>
                        <td width="200">Jezik</td>
                        <td width="200">Zanr</td>
                        <td width="200">Broj_stranica</td>
                        <td width="200">Prosečna_ocena</td>
                        <td width="200"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in p.knjige)
                    {
                        <tr>
                            <td>@v.ID_Knjige</td>
                            <td>@v.Naslov</td>
                            <td>@v.Naslov_originala</td>
                            <td>@v.Autor</td>
                            <td>@v.Godina_izdavanja</td>
                            <td>@v.Format_knjige</td>
                            <td>@v.Jezik</td>
                            <td>@v.Zanr</td>
                            <td>@v.Broj_stranica</td>
                            <td>@v.Prosecna_ocena</td>
                            <td>
                                <form action="UkloniKnjigu" method="post">
                                    <input type="text" name="id_police" placeholder="id_police" value="@p.polica.ID_Police" hidden="hidden" />
                                    <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                                    <input style="width:100%;" type="submit" value="Ukloni knjigu" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>