﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cassandra_GreatReads.Models.Polica

@{
    ViewBag.Title = "CreateAutorData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>
        <form action="SavePolica" method="post">
            <label>ID Police</label>
            <input type="text" name="id_police" placeholder="id_police" />
            <br />
            <label>Naziv</label>
            <input type="text" name="naziv" placeholder="naziv" />
            <br />
            <label>ID Korisnika</label>
            <input type="text" name="id_korisnika" placeholder="id_korisnika" />
            <br />
            <input type="submit" value="Sačuvaj Policu" />
        </form>
    </div>
}
else
{
    <div>
        <form action="SavePolica" method="post">
            <label hidden="hidden">ID Police</label>
            <input hidden="hidden" type="text" name="id_police" placeholder="id_police" value="@Model.ID_Police" />
            <br />
            <label>Naziv</label>
            <input type="text" name="naziv" placeholder="naziv" value="@Model.Naziv" />
            <br />
            <input type="submit" value="Sačuvaj Policu" />
        </form>
    </div>
}
