﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.OceneKorisnikaData

@{
    ViewBag.Title = "Lista ocene korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display:flex; flex-direction:column">
    <h2>Prikaz ocena korisnika</h2>
    <a asp-area="" asp-action="GoToCreateOcena" asp-controller="OceneKorisnikaData" style="margin-bottom:50px; max-width:200px;">
        <button>Oceni neku od knjiga</button>
    </a>

    <table border="1" align="left" style="max-width:800px; text-align:center;">
        <thead>
            <tr>
                <td width="200">ID_Knjige</td>
                <td width="200">ID_Korisnika</td>
                <td width="200">Ocena</td>
                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Ocene)
            {
                <tr>
                    <td>@v.ID_Knjige</td>
                    <td>@v.ID_Korisnika</td>
                    <td>@v.Ocena</td>
                    <td>
                        <form action="DeleteOcena" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input type="text" name="id_korisnika" placeholder="id_korisnika" value="@v.ID_Korisnika" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Obriši ocenu" />
                        </form>
                        <form action="GoToCreateOcena" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input type="text" name="id_korisnika" placeholder="id_korisnika" value="@v.ID_Korisnika" hidden="hidden" />
                            <input type="text" name="ocena" placeholder="ocena" value="@v.Ocena" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Izmeni ocenu" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>