﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cassandra_GreatReads.Models.OceneKorisnika

@{
    ViewBag.Title = "CreateOcena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>
        <form action="SaveOcena" method="post">
            <label>ID Knjige</label>
            <input type="text" name="id_knjige" placeholder="id_knjige" />
            <br />
            <label>ID Korisnika</label>
            <input type="text" name="id_korisnika" placeholder="id_korisnika" />
            <br />
            <label>Ocena</label>
            <input type="text" name="ocena" placeholder="ocena" />
            <br />
            <input type="submit" value="Sačuvaj Ocenu" />
        </form>
    </div>
}
else if (Model.ID_Korisnika == 0)
{
    <div>
        <form action="SaveOcena" method="post">
            <label hidden="hidden">ID Knjige</label>
            <input hidden="hidden" type="text" name="id_knjige" placeholder="id_knjige" value="@Model.ID_Knjige" />
            <br />
            <label>ID Korisnika</label>
            <input type="text" name="id_korisnika" placeholder="id_korisnika" />
            <br />
            <label>Ocena</label>
            <input type="text" name="ocena" placeholder="ocena" value="@Model.Ocena" />
            <br />
            <input type="submit" value="Sačuvaj Ocenu" />
        </form>
    </div>
}
else
{
    <div>
    <form action="SaveOcena" method="post">
        <label hidden="hidden">ID Knjige</label>
        <input hidden="hidden" type="text" name="id_knjige" placeholder="id_knjige" value="@Model.ID_Knjige" />
        <br />
        <label hidden="hidden">ID Korisnika</label>
        <input hidden="hidden" type="text" name="id_korisnika" placeholder="id_korisnika" value="@Model.ID_Korisnika"/>
        <br />
        <label>Ocena</label>
        <input type="text" name="ocena" placeholder="ocena" value="@Model.Ocena" />
        <br />
        <input type="submit" value="Sačuvaj Ocenu" />
    </form>
    </div>
}
