﻿@model Cassandra_GreatReads.Models.KorisnikData

@{
    ViewData["Title"] = "Lista korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display:flex; flex-direction:column">
    <h1>Prikaz liste korisnika</h1>
    <a asp-area="" asp-action="GoToCreateKorisnik" asp-controller="Korisnik" style="margin-bottom:50px; max-width:200px;">
        <button>Dodaj korisnika</button>
    </a>
    <table border="1" align="left" style="max-width:1600px; text-align:center;">
        <thead>

            <tr>
                <td width="200">ID_Korisnika</td>
                <td width="200">Ime_i_prezime</td>
                <td width="200">Godina_rođenja</td>
                <td width="200">Email</td>
                <td width="300">Username</td>
                <td width="200">Lozinka</td>
                <td width="200">Pol</td>

                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Korisnici)
            {


                <tr>
                    <td>@v.ID_Korisnika</td>
                    <td>@v.Ime_i_prezime</td>
                    <td>@v.God_rodjenja</td>
                    <td>@v.Email</td>
                    <td>@v.Username</td>
                    <td>@v.Lozinka.GetHashCode()</td>
                    <td>@v.Pol</td>

                    <td>
                        <form action="DeleteKorisnik" method="post">
                            <input type="text" name="id_korisnika" placeholder="id_korisnika" value="@v.ID_Korisnika" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Obriši korisnika" />
                        </form>
                        <form action="UpdateKorisnik" method="post">
                            <input type="text" name="id_korisnika" placeholder="id_korisnika" value="@v.ID_Korisnika" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Izmeni korisnika" />
                        </form>
                        <form action="PogledajPolice" method="get">
                            <input type="text" name="id_korisnika" placeholder="id_korisnika" value="@v.ID_Korisnika" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Pogledaj police korisnika" />
                        </form>
                    </td>
                </tr>



            }
        </tbody>
    </table>
</div>