﻿@model Cassandra_GreatReads.Models.Korisnik

@{
    ViewData["Title"] = "Kreiraj Korisnika";
}


@if (Model == null)
{
    <div>
        <form action="SaveKorisnik" method="post">
            <label>ID_Korisnika</label>
            <input type="text" name="id_korisnika" placeholder="id_korisnika" />
            <br />
            <label>Email</label>
            <input type="text" name="email" placeholder="email" />
            <br />
            <label>God_rodjenja</label>
            <input type="date" name="godina_rodjenja" placeholder="godina_rodjenja" />
            <br />
            <label>Ime_i_prezime</label>
            <input type="text" name="ime_i_prezime" placeholder="ime_i_prezime" />
            <br />
            <label>Lozinka</label>
            <input type="password" name="lozinka" placeholder="lozinka" />
            <br />
            <label>Pol</label>
            <input type="text" name="pol" placeholder="pol" />
            <br />
            <label>Username</label>
            <input type="text" name="username" placeholder="username" />
            <br />

            <input type="submit" value="Sačuvaj Korisnika" />
        </form>
    </div>
}
else
{
    <div>
        <form action="SaveKorisnik" method="post">
            <label hidden="hidden">ID_Korisnika</label>
            <input hidden="hidden" type="text" name="id_korisnika" placeholder="id_korisnika" value="@Model.ID_Korisnika" />
            <br />
            <label>Email</label>
            <input type="text" name="email" placeholder="email" value="@Model.Email" />
            <br />
            <label>God_rodjenja</label>
            <input type="date" name="godina_rodjenja" placeholder="godina_rodjenja" value="@Model.God_rodjenja" />
            <br />
            <label>Ime_i_prezime</label>
            <input type="text" name="ime_i_prezime" placeholder="ime_i_prezime" value="@Model.Ime_i_prezime" />
            <br />
            <label>Lozinka</label>
            <input type="password" name="lozinka" placeholder="lozinka" value="@Model.Lozinka"/>
            <br />
            <label>Pol</label>
            <input type="text" name="pol" placeholder="pol" value="@Model.Pol" />
            <br />
            <label>Username</label>
            <input type="text" name="username" placeholder="username" value="@Model.Username" />
            <br />

            <input type="submit" value="Sačuvaj Korisnika" />
        </form>
    </div>
}