﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.KnjigaData 

@{
    ViewBag.Title = "Lista knjiga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2>Prikaz liste knjiga</h2>
    <a asp-area="" asp-action="GoToCreateKnjiga" asp-controller="KnjigaData" style="margin-bottom:50px; max-width:200px;">
        <button>Dodaj knjigu</button>
    </a>

    <table border="1" align="left" style="max-width:2200px; text-align:center;">
        <thead>
            <tr>
                <td width="200">ID_Knjige</td>
                <td width="200">Naslov</td>
                <td width="200">Naslov_originala</td>
                <td width="200">Autor</td>
                <td width="300">Godina_izdavanja</td>
                <td width="200">Format_knjige</td>
                <td width="200">Jezik</td>
                <td width="200">Zanr</td>
                <td width="200">Broj_stranica</td>
                <td width="200">Prosečna_ocena</td>
                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Knjige)
            {
                <tr>
                    <td>@v.ID_Knjige</td>
                    <td>@v.Naslov</td>
                    <td>@v.Naslov_originala</td>
                    <td>@v.Autor</td>
                    <td>@v.Godina_izdavanja</td>
                    <td>@v.Format_knjige</td>
                    <td>@v.Jezik</td>
                    <td>@v.Zanr</td>
                    <td>@v.Broj_stranica</td>
                    <td>@v.Prosecna_ocena</td>
                    <td>
                        <form action="DeleteKnjiga" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Obriši knjigu" />
                        </form>
                        <form action="UpdateKnjiga" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Izmeni knjigu" />
                        </form>
                        <form asp-action="GoToCreateOcena" method="post" asp-controller="OceneKorisnikaData">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Oceni knjigu" />
                        </form>
                        <form asp-action="GoToDodajNaPolicu" method="post" asp-controller="Polica">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Dodaj na policu" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>