﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cassandra_GreatReads.Models.Knjiga

@{
    ViewBag.Title = "Kreiraj knjigu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>
        <form action="SaveKnjiga" method="post">
            <label>ID Knjige</label>
            <input type="text" name="id_knjige" placeholder="id_knjige" />
            <br />
            <label>Naslov</label>
            <input type="text" name="naslov" placeholder="naslov" />
            <br />
            <label>Naslov originala</label>
            <input type="text" name="naslov_originala" placeholder="naslov_originala" />
            <br />
            <label>Autor</label>
            <input type="text" name="autor" placeholder="autor" />
            <br />
            <label>Godina izdavanja</label>
            <input type="date" name="godina_izdavanja" placeholder="godina_izdavanja" />
            <br />
            <label>Format knjige</label>
            <input type="text" name="format_knjige" placeholder="format_knjige" />
            <br />
            <label>Jezik</label>
            <input type="text" name="jezik" placeholder="jezik" />
            <br />
            <label>Žanr</label>
            <input type="text" name="zanr" placeholder="zanr" />
            <br />
            <label>Broj stranica</label>
            <input type="text" name="broj_stranica" placeholder="broj_stranica" />
            <br />
            <label hidden="hidden">Prosečna ocena</label>
            <input hidden="hidden" type="text" name="prosecna_ocena" placeholder="prosecna_ocena" value="0" />
            <br />
            <input type="submit" value="Sačuvaj Knjigu" />
        </form>
    </div>
}
else
{
    <div>
        <form action="SaveKnjiga" method="post">
            <label hidden="hidden">ID Knjige</label>
            <input hidden="hidden" type="text" name="id_knjige" placeholder="id_knjige" value="@Model.ID_Knjige" />
            <br />
            <label>Naslov</label>
            <input type="text" name="naslov" placeholder="naslov" value="@Model.Naslov"/>
            <br />
            <label>Naslov originala</label>
            <input type="text" name="naslov_originala" placeholder="naslov_originala" value="@Model.Naslov_originala"/>
            <br />
            <label>Autor</label>
            <input type="text" name="autor" placeholder="autor" value="@Model.Autor"/>
            <br />
            <label>Godina izdavanja</label>
            <input type="date" name="godina_izdavanja" placeholder="godina_izdavanja" value="@Model.Godina_izdavanja"/>
            <br />
            <label>Format knjige</label>
            <input type="text" name="format_knjige" placeholder="format_knjige" value="@Model.Format_knjige"/>
            <br />
            <label>Jezik</label>
            <input type="text" name="jezik" placeholder="jezik" value="@Model.Jezik"/>
            <br />
            <label>Žanr</label>
            <input type="text" name="zanr" placeholder="zanr" value="@Model.Zanr"/>
            <br />
            <label>Broj stranica</label>
            <input type="text" name="broj_stranica" placeholder="broj_stranica" value="@Model.Broj_stranica"/>
            <br />
            <label>Prosečna ocena</label>
            <input type="text" name="prosecna_ocena" placeholder="prosecna_ocena" value="@Model.Prosecna_ocena"/>
            <br />
            <input type="submit" value="Sačuvaj Knjigu" />
        </form>
    </div>
}
