﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cassandra_GreatReads.Models.KnjigeAutoraData

@{
    ViewBag.Title = "Lista knjiga i autora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; flex-direction:column">
    <h2>Prikaz liste autora i knjiga</h2>
    <a asp-area="" asp-action="GoToCreateKnjigaAutora" asp-controller="KnjigeAutoraData" style="margin-bottom:50px; max-width:200px;">
        <button>Dodaj knjigu autoru</button>
    </a>

    <table border="1" align="left" style="max-width:800px; text-align:center;">
        <thead>
            <tr>
                <td width="200">ID_Knjige</td>
                <td width="200">ID_Autora</td>
                <td width="200">Naslov</td>
                <td width="200"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Ocene)
            {
                <tr>
                    <td>@v.ID_Knjige</td>
                    <td>@v.ID_Autora</td>
                    <td>@v.Naslov</td>
                    <td>
                        <form action="DeleteKnjigaAutora" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input type="text" name="id_autora" placeholder="id_autora" value="@v.ID_Autora" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Obriši knjigu autora" />
                        </form>
                        <form action="GoToCreateKnjigaAutora" method="post">
                            <input type="text" name="id_knjige" placeholder="id_knjige" value="@v.ID_Knjige" hidden="hidden" />
                            <input type="text" name="id_autora" placeholder="id_autora" value="@v.ID_Autora" hidden="hidden" />
                            <input style="width:100%" type="submit" value="Izmeni knjigu autora" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>