﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cassandra_GreatReads.Models.KnjigaAutora

@{
    ViewBag.Title = "Poveži autora i knjigu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>
        <form action="SaveKnjigaAutora" method="post">
            <label>ID Knjige</label>
            <input type="text" name="id_knjige" placeholder="id_knjige" />
            <br />
            <label>ID Autora</label>
            <input type="text" name="id_autora" placeholder="id_autora" />
            <br />
            <label>Naslov</label>
            <input type="text" name="naslov" placeholder="naslov" />
            <br />
            <input type="submit" value="Sačuvaj knjigu autora" />
        </form>
    </div>
}
else
{
    <div>
        <form action="SaveKnjigaAutora" method="post">
            <label hidden="hidden">ID Knjige</label>
            <input hidden="hidden" type="text" name="id_knjige" placeholder="id_knjige" value="@Model.ID_Knjige" />
            <br />
            <label hidden="hidden">ID Autora</label>
            <input hidden="hidden" type="text" name="id_korisnika" placeholder="id_korisnika" value="@Model.ID_Autora" />
            <br />
            <label>Naslov</label>
            <input type="text" name="naslov" placeholder="naslov" value="@Model.Naslov" />
            <br />
            <input type="submit" value="Sačuvaj knjigu autora" />
        </form>
    </div>
}
